<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <style>
        p {text-align: center;}
    </style>
</head>
<body>
    <form action="/add_employee" method="POST">
        <p>Enter First Name:</p>
        <p><input type="text" name="firstName"  /></p>
        <p>Enter Middle Name:</p>
        <p><input type="text" name="middleName" /></p>
        <p>Enter Last Name:</p>
        <p><input type="text" name="lastName"  /></p>
        <p>Enter Are you a manager (0-> No and 1-> Yes):</p>
        <p><input type="text" name="isMan"  /></p>
        <p>Enter your manager id:</p>
        <p><input type="text" name="manID"  /></p>
        <p>Enter Contact Details:</p>
        <p><input type="text" name="contactDetails" /></p>
        <p>Enter Password:</p>
        <p><input type="password" name="password" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>

</body>
</html>