<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave Apply</title>
</head>
<body>
    <form action="/apply" method="POST">
        <p>Start Date</p>
        <p><input type="date" name="startDate"  /></p>
        <p>End Date:</p>
        <p><input type="date" name="endDate" /></p>
        <p>Leave type</p>
        <p><input type="text" name="leaveType" /></p>
        <p><input type="submit" value="Submit" /></p>

    </form>
<button onclick="window.location.href='http://localhost:8081/dashboard'"> Cancel</button>
</body>
</html>