<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omniwyse Leave Managemet</title>
    <style>
        h1 {text-align: center;}
        ol {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}

    </style>
</head>
<body>
    <h1>Employees Leave Management Application.</h1>
    <p> In terms to apply for leave Employees needs to login to as employees.
        <br>
        <br>
        In terms to approve the leave managers need to login as Managers.
        <br>
        <br>
        In terms to onboard employees to use employee management portal click on add users.
    </p>

    <br>
<br>
    <br>
<br>
    <div>
        <ul>
    Options
    <li>

        <a href="http://localhost:8081/login_man">Login as Manager</a>
    </li>
    <li>
         <a href="http://localhost:8081/login_emp">Login as Employee</a>

    </li>
    <li>
         <a href="http://localhost:8081/add_employee">Add Employee</a>
    </li>

</ul>

    </div>


</body>
<br>
<br>
<br>
<br>


<!--<img src="/static/flasklogo.png">-->
</html>